<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <HEAD>
        <title>JobBliss</title>
        <link rel="icon" type="image/x-icon" href=""th:href="@{/Project/image/icon.png}">
        <link rel="stylesheet" type="text/css" href=""th:href="@{/Project/index.css}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="script.js"></script>
    </HEAD>
    <HEADER>
        <div class="header-container">
         
            <nav class="navbar">
                
                   <a href="index" >Home</a>
                    <a href="aboutus" >About US</a>
                    <a href="features"  class="active">Features</a>
                    <a href="loginsignup">Login/Signup</a>
                    
                
            </nav>
           
        </div>
    </HEADER>
    <section CLASS="Home">
        <div class="home-img">
            <img src="/Project/image/logo.png" alt="home image">
        </div>
        <div class="home-content">
            <h1><U>Features</U></h1>
            <br/><br/><br/>
            <h4>.For Job seekers</h4>
                  <p> <ul>
                    <li>Personalized recommendations</li>
                    <li>Easy application tracking</li>
                    <li>TProfile creation to showcase skills.</li>
                    <li>Notifications for new opportunities.</li>
                </ul></p> 
            <h4>.For Company</h4>
            <P>
                <ul>
                    <li>Vacancy posting</li>
                    <li>Connect with qualified professionals</li>
                    <li>Hiring process tracking</li>
                    <li>Feedback and reviews from job seekers.</li>
                </ul>
            </P>
            <h4>.General features</h4>
            <p>
                <ul>
                    
                    <li>Job application tracking</li>
                    <li>User authentication</li>
                    <li>User-friendly and secure platform.</li>
                </ul>
            </p>

            
                
                
                
            
            
            
        </div>
       
       
            
        


    </section>
</html>