<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <HEAD>
        <title>JobBliss</title>
        <link rel="icon" type="image/x-icon" href="" th:href="@{/Project/image/icon.png}">
        <link rel="stylesheet" type="text/css" href="" th:href="@{/Project/index.css}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="script.js"></script>
    </HEAD>
    <HEADER>
        <div class="header-container">
         
            <nav class="navbar">
            
                <a href="index" class="active" >Home</a>
                    <a href="aboutus">About US</a>
                    <a href="features">Features</a>
                    <a href="loginsignup">Login/Signup</a>
                    
            </nav>
           
        </div>
    </HEADER>
    <section CLASS="Home">
        <div class="home-img">
            <img src="/Project/image/logo.png" alt="home image">
        </div>
        <div class="home-content">
            <h1>Welcome to JobBliss</h1>
            <p>We are a leading company specializing in job searching and recruitment.</p>
            <button><a href="/loginsignup">GET STARTED ></a></button>
            
            
        </div>
       
       
            
        


    </section>
</html>